* {
    font-family: monospace, sans-serif;
    text-decoration: none;
}

:root {
    color-scheme: dark;
}

body.main-body-class {
    background: url('assets/fond.jpg') no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
}

.main-contenaire {
    position: relative;
}

.white-lines {
    height: 2px;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 30px;
}

.foot-page {
    background: #292829;
    width: 100%;
    color: white;
    margin-top: -18px;
}

div.main-footer-page {
    text-align: center;
    align-items: center;
}

div.social-media {
    padding: 18px 30px;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    cursor: default;
}

i.twitter {
    font-size: 25px;
    color: rgb(29, 161, 242);
    padding: 19px 20px;
    cursor: pointer;
}

i.facebook {
    font-size: 25px;
    color: #1778f2;
    padding: 19px 20px;
    cursor: pointer;
}

i.github {
    font-size: 25px;
    color: white;
    padding: 19px 20px;
    cursor: pointer;
}

div.copyright-notice {
    background: #363536;
    margin: 0;
    padding: 0;
}

.footer-page-text {
    color: white;
    margin: 0;
    padding: 0;
    font-size: 22px;
}

p.footer-page-text a.footer-page-link {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-website-row-panel {
    padding-left: 8px;
}

.main-website-row-panel:after {
    content: "";
    display: table;
    clear: both;
}

.main-website-panel-style {
    overflow-y: auto;
    height: 505px;
    background: linear-gradient(to left top, #292829, #363536);
    padding: 20px;
    margin-top: 20px;
    border: 4px solid #363536;
    color: white;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
    border-radius: 40px;
}

.main-website-components-box {
    float: left;
    width: 100%;
}

.main-website-panel {
    height: 100%;
    margin-left: 15%;
    margin-right: 15%;
}

.modalbox-white-lines {
    height: 2px;
    margin-left: 20%;
    margin-right: 20%;
    background-color: #005DD9;
    border: 2px solid #0047A6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.modalbox-class {
    top: 40%;
    left: 50%;
    margin-left: -400px;
    margin-top: -200px;
    width: 800px;
    background: #292829;
    z-index: 2;
    border: 4px solid #363536;
    color: white;
    position: fixed;
    font-size: 20px;
    -webkit-box-shadow: 5px 11px 15px 5px #000000;
    box-shadow: 5px 11px 15px 5px #000000;
    border-radius: 40px;
}

.modalbox-header-close {
    float: right;
    margin-right: 15px;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}

header.modalbox-header-class {
    padding: 20px;
    background: linear-gradient(to left top, #005DD9, #0047A6);
    color: white;
    font-weight: bold;
    font-size: 28px;
    border-top-right-radius: 36px;
    border-top-left-radius: 36px;
}

.modalbox-main-content {
    overflow-y: scroll;
    height: 450px;
    /* Maquer la "scrollbar" sur Firefox. */
    scrollbar-width: none;
}

.modalbox-main-content::-webkit-scrollbar {
    display: none;
}

.modalbox-text-contenaire {
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.modalbox-textarea {
    resize: none;
    width: 88%;
    height: 230px;
    background: #323232;
    border: 4px solid #757375;
    outline: none;
    color: white;
    font-size: 22px;
    margin-left: 5%;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-box-shadow: 3px 5px 15px 5px #000;
    box-shadow: 3px 5px 15px 5px #000000;
}

.modalbox-range-btn {
    appearance: none;
    width: 90%;
    height: 40px;
    background: #323232;
    border: 4px solid #757375;
    margin-left: 5%;
    box-shadow: 3px 5px 15px 5px #000000;
    -webkit-box-shadow: 3px 5px 15px 5px #000000;
}

.modalbox-range-btn::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #005DD9;
    border: 4px solid #0047A6;
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.modalbox-range-btn::-webkit-slider-thumb:hover {
    background: #4690F2;
}

.modalbox-range-btn::-moz-range-thumb {
    cursor: pointer;
    height: 40px;
    width: 50px;
}

select,
.modalbox-input {
    box-sizing: border-box;
    width: 90%;
    height: 50px;
    background: #323232;
    border: 4px solid #757375;
    outline: none;
    color: white;
    font-size: 22px;
    margin-left: 5%;
    -webkit-box-shadow: 3px 5px 15px 5px #000;
    box-shadow: 3px 5px 15px 5px #000;
    border-radius: 40px;
    text-indent: 15px;
}

select,
.modalbox-input::placeholder {
    text-indent: 15px;
}

.modalbox-description {
    font-size: 22px;
}

p.modalbox-errors-warnings-class {
    text-align: center;
    font-size: 24px;
    color: #E96979;
    font-weight: bold;
    margin-bottom: 50px;
    margin-right: 40px;
    margin-left: 40px;
    text-shadow: 3px 3px 7px #000000;
}

.modalbox-close-btn {
    padding: 15px 30px;
    color: white;
    font-size: 20px;
    border-radius: 50px;
    background: #005DD9;
    transition: all 0.2s ease-out 0s;
    font-weight: bold;
    border: 4px solid #0047A6;
    cursor: pointer;
}

.modalbox-close-btn:hover {
    background: #4690F2;
}

.main-website-panel-style::-webkit-scrollbar-track {
    display: none;
}

.main-website-panel-style::-webkit-scrollbar {
    display: none;
}

.main-website-panel-style::-webkit-scrollbar-thumb {
    display: none;
}

.modalbox-email-input {
    width: 90%;
    box-sizing: border-box;
    height: 50px;
    background: #323232;
    border: 4px solid #757375;
    outline: none;
    color: white;
    text-align: center;
    font-size: 22px;
    margin-left: 5%;
    box-shadow: 3px 5px 15px 5px #000000;
    -webkit-box-shadow: 3px 5px 15px 5px #000000;
}

.menu-header {
    overflow: hidden;
    background: #292829;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
    border: 4px solid #363536;
    border-radius: 25px;
}

.menu-header a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    cursor: pointer;
}

.menu-dropdown {
    float: right;
    overflow: hidden;
}

.menu-dropdown .menu-dropdown-btn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 24px 26px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
}

.menu-header a:hover,
.menu-dropdown:hover .menu-dropdown-btn {
    background-color: rgb(78, 78, 78);
}

.menu-dropdown-items {
    display: none;
    position: absolute;
    background-color: #363536;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu-dropdown-items a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    cursor: pointer;
    width: auto;
}

.menu-dropdown-items a:hover {
    background-color: rgb(78, 78, 78);
}

.menu-dropdown:hover .menu-dropdown-items {
    display: block;
}

.mobile-menu {
    display: none;
    margin-left: 25px;
    font-size: 42px;
}

@media only screen and (max-width: 1075px) {
    .mobile-menu {
        color: white;
        display: block;
        float: right;
    }

    .menu-header a.menu-item {
        display: none;
    }

    .menu-dropdown .menu-dropdown-btn {
        display: none;
        width: 100%;
    }

    .menu-header {
        margin-left: unset;
        margin-right: unset;
    }

    .menu-header a.menu-header-title {
        text-align: left;
    }

    .menu-header a {
        float: none;
        display: block;
    }

    .menu-dropdown {
        float: none;
        text-align: left;
    }
}

.link-btn {
    color: #005DD9;
    font-size: 22px;
    text-decoration: underline;
    word-break: break-word;
}

.link-btn:hover {
    color: #4690F2;
}

.website-bottom-menu {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

@media only screen and (max-width: 728px) {
    .main-website-panel-style {
        padding: unset;
    }
}

.green {
    color: #038C0C;
}

.not {
    color: #E2392B;
}

.warn {
    color: #FF941A;
}

.main-website-panel-notice {
    font-size: 22px;
    margin-right: 5%;
    margin-left: 5%;
    color: white;
}


.modalbox-go-btn {
    color: white;
    font-size: 20px;
    border-radius: 50px;
    background: #005DD9;
    transition: all 0.2s ease-out 0s;
    font-weight: bold;
    border: 4px solid #0047A6;
    padding: 15px 30px;
    cursor: pointer;
}

.modalbox-go-btn:hover {
    background: #4690F2;
}